.parent {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #707070;
    
}

.row {
    display: flex;
    justify-content: center;
}

.row > div {
    margin: 0.2rem;
    padding: 2rem;
    background-color: #eee;
}

.color {
    display: flex;
    justify-content: space-between;
}